<%- include('shared/header') %>
    <section class="pg-hero-layout">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Hii, I'm Srijan</h1>
                    <p>I'm a full stack developer (React.js & Node.js) with a focus on creating (and occasionally designing) exceptional digital experiences that are fast, accessible, visually appealing, and responsive. Even though I have been creating web applications for over 7 years, I still love it as if it was something new.</p>
                    <ul class="hero-list">
                        <li><i class="fa-solid fa-location-dot"></i>Kolkata, India</li>
                        <li><span class="online"></span>Available for new projects</li>
                    </ul>
                </div>
                <div class="col-4">
                    <div class="hero-image">
                        <img src="/images/hero_image.jpg" alt="hero"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('shared/footer') %>